:root {
  --primary-color: #f84a2f;
  --primary-color-rgba: rgba(248, 74, 47, 0.3);
  --white-color: #fff;
  --black-color: #000;
  --text-color: rgb(36, 24, 24);
  --border-color: #dbdbdb;
  --star-gold-color: #ffce3e;
  --navbar-height: 60px;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* scroll-snap-type: mandatory; */
}
.hide {
  display: none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growTh {
  from {
    transform: scale(var(--growTh-form));
  }
  to {
    transform: scale(var(--growTh-to));
  }
}
.mb-16 {
  margin-bottom: 16px;
}
.mt-16 {
  margin-top: 16px;
}