.app {
  overflow: hidden;
  /* height: 200vh; */
}
.ontop a {
  text-decoration: none;
  font-size: 20px;
}
.ontop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 8;
}
.nav__all-list-pc-tablet li {
  list-style: none;
  display: inline-block;
}
.nav__all-list-pc-tablet li a:hover {
  color: #000;
}
.nav__all-list-pc-tablet li a {
  text-decoration: none;
  color: #fff;
  font-size: 2.4rem;
  padding: 0 10px;
  line-height: var(--navbar-height);
  text-transform: uppercase;
  font-weight: 600;
}
.nav__all-list-pc-tablet ul {
  display: inline;
}
.nav__all-list-pc-tablet {
  display: inline;
}
/* #about,
#product,
#project,
#contact {
  padding: 0 32px;
} */
img {
  transition: all 0.5s ease;
  overflow: hidden;
}
img:hover {
  transition: all 0.5s ease;
  transform: scale(1.03, 1.03);
}
/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6400, #f53e2d);
  z-index: 10;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  height: var(--navbar-height);
  padding: 0 16px;
}
.header__navbar-logo {
  text-decoration: none;
  color: #fff;
  font-size: 3.2rem;
  line-height: var(--navbar-height);
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.2px #fff;
  background: url("https://cdn.hashnode.com/res/hashnode/image/upload/v1652000439875/0yJcPGz_S.png?auto=compress,format&format=webp");
  -webkit-background-clip: text;
  background-size: cover;
  animation: back 20s linear infinite;
  text-transform: uppercase;
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

.header__navbar-menu-bars {
  display: flex;
  margin: auto 0;
  padding: 0;
}
.header__navbar-menu-bars label {
  margin: 0;
  padding: 0;
  margin-top: 4px;
  -webkit-margin-top: 4px;
}
.nav__all {
  user-select: none;
}

.nav__all-btn svg {
  fill: rgb(0, 0, 0);
  width: 4rem;
  height: 4rem;
  padding: 5px 0;
  background-color: rgb(222, 207, 41);
  border-radius: 50%;
  cursor: pointer;
}
/* menu visibility */
.nav__all {
  list-style: none;
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(127, 255, 212, 0.5);
  transform: translateY(120%);
  opacity: 0;
  transition: transform linear 1s, opacity linear 0.75s;
}
.nav__all-list-wrap {
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 100;
}
.nav__all-list a:hover {
  color: rgb(226, 159, 42);
  /* text-decoration: dashed underline grey; */
}

.nav__all-list li {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.nav__all-list {
  display: flex;
  flex-direction: column;
  /* margin-top: 5%; */
  width: 100%;
}
.nav__all-list a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 3rem;
  font-weight: 600;
}

#nav__input:checked ~ .nav__all {
  transform: translateY(0);
  opacity: 1;
}
/* End header */

/* Start container */
/* wallpaper & text */
.app__container {
  margin-top: var(--navbar-height);
  position: relative;
  margin: 0 20px;
}
.wall__background {
  position: relative;
}
.wall__background-img img {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
}
.wall__background-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 48px;
  color: #fff;
  transform: translate(-50%, -50%);
  text-shadow: 5px 5px 10px rgb(64, 14, 163);
  text-transform: uppercase;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}

/* Content */
.content div h1 {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
  text-transform: uppercase;
  font-size: 3.2rem;
  margin: 6rem 0;
  font-weight: 600;
  color: #3580c2;
  text-shadow: 5px 5px 30px #95c235;
}

.content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
/* css for UI content */
.tabs__projects,
.tabs__contact,
.tabs__products,
.tabs__about {
  display: flex;
  position: relative;
}

.tabs__products .line__products,
.tabs__projects .line__projects,
.tabs__about .line__about {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 6px;
  border-radius: 15px;
  background-color: #c23564;
  transition: all 0.35s ease;
}

.tab-item_products,
.tab-item_projects,
.tab-item_about {
  min-width: 80px;
  padding: 16px 20px 11px 20px;
  font-size: 2.4rem;
  text-align: center;
  color: #c23564;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 5px solid transparent;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.5s ease;
  line-height: 40px;
}

.tab-item_products:hover,
.tab-item_projects:hover,
.tab-item_about:hover {
  opacity: 1;
  background-color: rgba(194, 53, 100, 0.05);
  border-color: rgba(194, 53, 100, 0.1);
}

.tab-item_products.active,
.tab-item_projects.active,
.tab-item_about.active {
  opacity: 1;
}

.tabs__products-content .tabs__projects-content,
.tabs__about-content {
  padding: 28px 0;
}

.tab-pane_products,
.tab-pane_projects,
.tab-pane_about {
  font-size: 2rem;
  line-height: 40px;
  text-align: justify;
  color: #333;
  display: none;
}

.tab-pane_products.active,
.tab-pane_projects.active,
.tab-pane_about.active {
  transition: all 1.35s ease;
  display: block;
}

.tab-pane_products li,
.tab-pane_projects li,
.tab-pane_about li {
  margin: 16px 0;
  list-style: inside circle;
}

.tab-pane_products h2,
.tab-pane_projects h2,
.tab-pane_about h2 {
  font-size: 2rem;
  margin: 8px 0;
}

/* img */
.about__img {
  height: auto;
  width: 100%;
}
.img-description img {
  max-width: 100%;
}
.wrap-info-projects .img,
.img-description .img {
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.products-wrap .item-detail img {
  width: 100%;
  background-size: cover;
}
.wrap-info-projects img {
  width: 100%;
  background-size: cover;
}
.wrap-info-projects .d1,
.products-wrap .item-detail {
  padding: 16px;
}
.wrap-info-projects p,
.products-wrap .item-detail p {
  font-size: 1.8rem;
  text-align: left;
}

/* form contact */
.form-contact .info {
  width: 100%;
  font-size: 60px;
}
.contact .info p {
  padding: 10px;
}
.contact .info {
  font-size: 2.4rem;
  width: 100%;
}
.contact {
  width: 100%;
}

.info_and_map .info span svg {
  width: 15px;
  fill: #be7442;
}
.info_and_map p,
.info_and_map h3 {
  padding: 10px;
  line-height: 32px;
}
/* End container */
/* Footer */

.footer {
  background-color: rgb(0, 0, 55);
  color: #fff;
}
.d2 {
  display: flex;
  flex-direction: column;
}
.d4 p {
  text-align: center;
  padding: 10px 0;
  font-size: 1.8rem;
}
.d4 {
  background-color: #000;
}
