/* mobile & Tablet */

@media (max-width: 1023px) {
}
/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
}
/* Mobile */

@media (max-width: 739px) {
  .wall__background-text {
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
  }
  /* .wall__background-img img {
    height: 25vh;
  } */
}
/*  PC & tablet */

@media (min-width: 740px) {
}
/* pc  */

@media (min-width: 1023px) {
}
