/* mobile & Tablet */

@media (max-width: 1023px) {
  .content {
    padding: 0 10px;
  }
  .img-description .img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .products-wrap .item-detail {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
  }
  .info_and_map {
    display: flex;
    flex-direction: column;
  }
  .header__navbar-menu-on-pc-tablet {
    display: none;
  }
}
/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
}
/* Mobile */

@media (max-width: 739px) {
  .wall__background-text {
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
  }
  /* .wall__background-img img {
    height: 25vh;
  } */
}
/*  PC & tablet */

@media (min-width: 740px) {
  
}
/* pc  */

@media (min-width: 1023px) {
  .header__navbar-menu-bars {
    display: none;
  }
}
